{
  "semi": true,
  "trailingComma": "none",
  "quoteProps": "as-needed",
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "singleAttributePerLine": true,
  "tabWidth": 4
}

{
  "compilerOptions": {
    "target": "es2022",
    "lib": [
      "dom",
      "dom.iterable",
      "esnext"
    ],
    "allowJs": true,
    "skipLibCheck": true,
    "esModuleInterop": true,
    "allowSyntheticDefaultImports": true,
    "strict": true,
    "forceConsistentCasingInFileNames": true,
    "noFallthroughCasesInSwitch": true,
    "module": "esnext",
    "moduleResolution": "node",
    "resolveJsonModule": true,
    "isolatedModules": true,
    "noEmit": true,
    "jsx": "react-jsx",
    "rootDir": "src",
    "baseUrl": "src"
  }
}
